---
# Main
---
@charset "utf-8";

/*
   Variables
   ========================================================================== */
$base-font-family:      "Merriweather", serif;
$base-font-family-sans: "Lato", sans-serif;
$base-font-family-mono: "Source Code Pro", monospace;
$base-font-size:        16px;
$small-font-size:       $base-font-size * 0.875;
$base-line-height:      1;

$dark-color:       #111;
$light-color:      #eee;

$text-color:       $dark-color;
$text-color-light: $light-color;
$background-color: #fdfdfd;
$brand-color:      #e74c3c;
$brand-color-2:    #7D8866;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 35%);
$grey-color-dark:  darken($grey-color, 20%);

$content-width:    700px;
$spacing-unit:     60px;

$on-palm:          799px;
$on-laptop:        800px;

$radius:           6px;
$transition-base:  all 200ms linear;
$transition-nav:   all 500ms linear;

/*
   Mixins
   ========================================================================== */
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius:    $radius;
    -ms-border-radius:     $radius;
    border-radius:         $radius;
}

@mixin flex-wrap($value) {
    -webkit-flex-wrap: $value;
    -moz-flex-wrap:    $value;
    -ms-flex-wrap:     $value;
    flex-wrap:         $value;
}

@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform:    $args;
    -o-transform:      $args;
    transform:         $args;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition:    $args;
    -ms-transition:     $args;
    -o-transition:      $args;
    transition:         $args;
}

/*
   Import
   ========================================================================== */
@import
    "base",
    "layout",
    "sidebar",
    "loader",
    "syntax-highlighting"
;


/*
   Sandbox
   ========================================================================== */

p { text-align: justify; }

blockquote { background: $light-color; margin: 0; padding: 5px 20px; }

blockquote + p > em { text-align: right; }

img { padding: 0; border: 0; background-color: $light-color; }

table { width: 100%; border: 0; border-spacing: 0; background-color: $light-color; padding: 0px; }

thead tr th { border-bottom: 1px solid $text-color; }

th, td { padding: 5px 20px; }

img + em, table + p > em, blockquote + p > em { border-top: 1px solid $text-color; font-size: $small-font-size; background-color: $light-color; padding: 5px 20px; line-height: 1.5; display: block; font-style: normal; }















/*
table + p, img + em { font-size: $small-font-size; background-color: $light-color; }

table { width: 100%; border:0; border-collapse: separate; border-spacing: 0; margin-right: auto; margin-left: auto; }

table { background-color: $light-color; }

blockquote {
  margin-left: 25px;
  padding-left: 15px;
  border-left: 3px solid $dark-color;
}


td { padding: 5px 15px; }
*/



/*
tbody tr#first td{border-top: 3px solid #4d4d4d; border-collapse:separate;  border-spacing:5px 5px;}
*/

/*
thead { background: red; border-bottom: 1px solid green; }
*/








