---
# Main
---
@charset "utf-8";

/*
   Variables
   ========================================================================== */

/*
$base-font-family:      "Merriweather", serif;
$base-font-family-sans: "Lato", sans-serif;
$base-font-family-mono: "Source Code Pro", monospace;
*/

$base-font-family:      'Noto Serif', serif;
$base-font-family-sans: 'Noto Sans', sans-serif;
$base-font-family-mono: "Source Code Pro", monospace;

$base-font-size:        16px;
$small-font-size:       $base-font-size * 0.875;
$base-line-height:      1;



$background-color: #ffffff; // Background of text region
$grey-color:       #8fc9af; // Background of tables, etc
$dark-color:       #00ff00; // Background of slidebar, main page lens, next story background

$brand-color:      #ff0000; // Links, main page dates

$brand-color-2:    #3c896d; // Outer background

$light-color:      #ff00ff; // Slidebar highlighting, main page titles

$text-color:       #000000; // Text




/*
$dark-color:       #111;
$light-color:      #eee;

$text-color:       $dark-color;
$text-color-light: $light-color;
$background-color: #fdfdfd;
$brand-color:      #e74c3c;
$brand-color-2:    #7D8866;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 35%);
$grey-color-dark:  darken($grey-color, 20%);
*/



$content-width:    700px;
$spacing-unit:     60px;

$on-palm:          799px;
$on-laptop:        800px;

$radius:           6px;
$transition-base:  all 200ms linear;
$transition-nav:   all 500ms linear;

/*
   Mixins
   ========================================================================== */
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius:    $radius;
    -ms-border-radius:     $radius;
    border-radius:         $radius;
}

@mixin flex-wrap($value) {
    -webkit-flex-wrap: $value;
    -moz-flex-wrap:    $value;
    -ms-flex-wrap:     $value;
    flex-wrap:         $value;
}

@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform:    $args;
    -o-transform:      $args;
    transform:         $args;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition:    $args;
    -ms-transition:     $args;
    -o-transition:      $args;
    transition:         $args;
}

/*
   Import
   ========================================================================== */
@import
    "base",
    "layout",
    "sidebar",
    "loader",
    "syntax-highlighting"
;


/*
   Sandbox
   ========================================================================== */

p {
    text-align: justify;
}

blockquote {
    background: $grey-color;
    margin: 0;
    padding: 5px 20px;
    border-left: 1px solid $text-color;
}

blockquote + p > em {
    text-align: right;
}

img {
    padding: 0;
    border: 0;
    background-color: $grey-color;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    background-color: $grey-color;
    padding: 0px;
}

thead tr th {
    border-bottom: 1px solid $text-color;
}

th, td {
    padding: 5px 20px;
}

img + em, table + p > em {
    border-top: 1px solid $text-color;
    font-size: $small-font-size;
    background-color: $grey-color;
    padding: 5px 20px;
    line-height: 1.5;
    display: block;
    font-style: normal;
}

body {
    background: $brand-color-2;
    color: $text-color;
}

a {
    color: $brand-color;
    text-decoration: none;
    &:visited { color: $brand-color; }
    &:hover { color: $text-color; }
}

.sb-slidebar {

    .site-title {
        font-size: 22px;
        letter-spacing: 1px;
        &:hover { color: $light-color; }
    }

    a {
        &:hover { color: $light-color; }
    }

    .sb-menu {
        .active {
            a { background-color: rgba($light-color, .04); }
        }

        > li {
            border-top: 1px solid rgba($light-color, .05);
            &:last-child { border-bottom: 1px solid rgba($light-color, .05); }
            a {
                color: $light-color;
                &:hover { background-color: $light-color; color: $text-color; }
            }
        }
    }
}


pre, code {
    background-color: $grey-color;
}


